body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the container to 100% of the viewport height */
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex: 1; /* Set the main content area to take up all remaining space */
    margin-bottom: 3rem;
    margin-top: 3rem;
    height: 100%;
  }
  
  footer {
    margin-top: auto; /* Push the footer to the bottom by setting auto margin on top */
  }

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    width: 80%;
    margin: 0 auto;
    height: 30vh;
    border: 1px solid #ddd;
    border-radius: 1px;
  }
  
  .author-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-picture {
    font-size: 20px;
    margin-right: 20px;
  }
  
  .author-details {
    text-align: left;
  }
  
  .author-name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .author-role {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .location-time {
    font-size: 16px;
    color: gray;
    margin-bottom: 10px;
  }
  
  .overview-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .author-overview {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .author-stats {
    display: flex;
    justify-content: space-between;
  }
  
  .rating,
  .reviews,
  .courses,
  .edits {
    font-size: 16px;
  }
  
  