<header>
    <div class="header-logo">
      <img src="../../assets/images/logo.png" alt="logo">
    </div>
  
    <div class="header-search">
      <form>
        <input type="text" placeholder="Search items, collections..." class="search-input">
        <button type="submit" class="search-button">Go</button>
      </form>
    </div>
  
    <div class="buttons">
      <button>Explore</button>
    </div>
  
    <div class="buttons">
      <button>Stats</button>
    </div>
  
    <div class="buttons">
      <button>Resources</button>
    </div>
  
    <div class="buttons">
      <button>Create</button>
    </div>
  
    <div class="header-profile">
      <img src="../../assets/images/userprofilepicture.png" alt="profilePic" width="30px" height="90%">
    </div>
  
    <div class="header-wallet">
      <button>
        <mat-icon alt="Wallet Icon" class ="walletIcon">account_balance_wallet</mat-icon>
        My wallet
      </button>
    </div>
</header>
  