body {
    display: flex;
    flex-direction: column;
    height: 100%; /*min-height: 100vh; Set the minimum height of the container to 100% of the viewport height */
  }
  
  main {
    display: flex;
    flex-direction: column;
    flex: 1; /* Set the main content area to take up all remaining space */
    margin-bottom: 3rem;
    margin-top: 3rem;
    height: 100%;
    overflow: auto;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    margin: 0 auto;
    height: 30vh;
  }
  
  .section__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  footer {
    margin-top: auto; /* Push the footer to the bottom by setting auto margin on top */
  }
  
  .article-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .article-box {
    display: flex;
    flex-direction: column;
    width: calc(25% - 10px); /* 4 boxes, 5px space between each */
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white; /* Set the background color to white */
    min-width: 370px;
    min-height: 380px;
    margin-bottom: 10px; /* Add some space between the article boxes */
  }
  
  .article-image {
    width: 100%;
    height: 50%;
    object-fit: fill;
  }
  
  .middle-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  .article-details {
    display: flex;
    flex-direction: column;
    height: 50%;
    padding: 0.5rem;
    background-color: white;
    margin-top: 10px;
    min-height: 68px; /* set a minimum height for the container */
  }
  
  .article-title {
    font-size: 1.2rem;
    margin-bottom: auto;
    padding-left: 0.5rem;
  }
  
  .article-category {
    font-style: italic;
    padding-left: 0.5rem;
    margin-top: auto; /* push the category to the bottom of the container */
    margin-bottom: 5px; /* add margin between the category and stars */
  }
  
  .sectionMiddle {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    /*flex: 1; */
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 40vh;
  }
  
  
  .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F3FC;
    
  }
  
  .right-side {
    flex: 1;
  }
  
  .left-sideCenter {
    margin: 100px;
  }
  
  
  
  .middle-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .middle-description {
    font-size: 0.8rem;
  }
  
  .middle-button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #535CE8;
    color: white;
    font-weight: bold;
  }
  
  .star-style {
    color: #F3C63F;
    -webkit-text-stroke: 0.2px black;
    display: inline-block;
    vertical-align: middle;
  }
  
  .ratings {
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
  }
  
  .article-rating {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .view-all {
    font-size: 0.8rem;
    color: blue;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .middle-link-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    margin-top: 1rem;
    
  }
  
  .view-arrow {
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    color: #535CE8;
  }
  
  .linkic {
    display: flex;
    flex-direction: row;
  }