<body>
    <app-header>Header content</app-header>
    <main>
      <section class="section">
        <div>
          <h1 class="middle-title">{{ currentArticle.title }}</h1>
        </div>
        <div class="prva-vrstica">
          <div class="ratings">
            <p class="article-rating">{{ currentArticle.rating }} | {{ currentArticle.author }}</p>
          </div>
          <div class="buttonRight">

            <button class="middle-button" style="margin-left: 30px; float: right;">
              <img src="../../assets/images/wallet.png"  alt="Image" />
              <span>Download</span>
            </button>
            <button class="middle-button" style="float: right; background-color:#f2f3fd!important; color:blue">
              <img src="../../assets/images/wallet.png"  alt="Image" />
              <span>Share</span>
            </button>
          </div>
        </div>

      </section>
      <section class="sectionMiddle">
        <div class="left-side">
          <img [src]="currentArticle.imageUrl" alt="Article image" class="middle-image">
        </div>
        <div class="right-side">
            <div class="slikice">
              <div style="margin-bottom: 35px;">
                <img src="../../assets/images/wallet.png"  alt="Image" />
              </div>
              <div>
                <img src="../../assets/images/wallet.png"  alt="Image" />
              </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div>
          <ejs-tab cssClass="tab_content">
            <e-tabitems>
              <e-tabitem  [header]="tabHeaderText[0]" [content]="tabContentText[0]">
                <div>
                  <div>

                  </div>
                  <div>

                  </div>
                </div>
              </e-tabitem>
              <e-tabitem [header]="tabHeaderText[1]" [content]="tabContentText[1]">

              </e-tabitem>
            </e-tabitems>
          </ejs-tab>
        </div>
      </section>

      <section class="section" style="height:auto !important; margin-bottom:100px;">
        <h1 class="middle-title">Reviews</h1>
        <div class="ratings">
          <p class="article-rating">{{ currentArticle.rating }}</p>
        </div>
        <div class="prva-vrstica">
          <div class="square">
            <div class="prva-vrstica">
              <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
              <div class="druga-vrstica">
                <b style="margin-top:10px;">{{currentArticleReviewes.author}}</b>
                <p>{{currentArticleReviewes.rating}}</p>
              </div>
            </div>
            <p>{{currentArticleReviewes.review | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
          </div>
          <div class="square">
            <div class="prva-vrstica">
              <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
              <div class="druga-vrstica">
                <b style="margin-top:10px;">{{currentArticleReviewes.author}}</b>
                <p>{{currentArticleReviewes.rating}}</p>
              </div>
            </div>
            <p>{{currentArticleReviewes.review | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
          </div>
        </div>
        <div class="prva-vrstica">
          <div class="square">
            <div class="prva-vrstica">
              <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
              <div class="druga-vrstica">
                <b style="margin-top:10px;">{{currentArticleReviewes.author}}</b>
                <p>{{currentArticleReviewes.rating}}</p>
              </div>
            </div>
            <p>{{currentArticleReviewes.review | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
          </div>
          <div class="square">
            <div class="prva-vrstica">
              <img style="width:70px" [src]="currentArticleReviewes.authorImage" alt="Article image" class="middle-image">
              <div class="druga-vrstica">
                <b style="margin-top:10px;">{{currentArticleReviewes.author}}</b>
                <p>{{currentArticleReviewes.rating}}</p>
              </div>
            </div>
            <p>{{currentArticleReviewes.review | slice:0:200}}<span *ngIf="currentArticleReviewes.review.length > 200">...</span></p>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="section-header">
          <h2 class="section__title">Related articles</h2>
          <a href="#" class="view-all">View all</a>
        </div>
        <div class="article-box-container">
          <div class="article-box" *ngFor="let article of relatedArticles">
            <img [src]="article.imageUrl" alt="Article image" class="article-image">
            <div class="article-details">
              <h3 class="article-title">{{ article.title }}</h3>
              <p class="article-category">{{ article.category }}</p>
              <div class="ratings">
                <p class="article-rating">{{ article.rating }}</p>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    <app-footer>Footer content</app-footer>
</body>
