<body>
    <app-header>Header content</app-header>
    <main>
      <section class="section" style="height: auto !important;">
        <h1 class="section__title">Create new article</h1>
      </section>

      <section class="section" style="height: auto !important;">
        <b>Upload Article</b>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
        <div class="drop-zone" ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>
            <img src="../../assets/images/wallet.png"  alt="Image" style="height:100px;" />
            <p>Drag & drop your files here</p>
            <p>OR</p>
            <p>Click here to select files</p>
          </ngx-dropzone-label>
          <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-preview>
        </div>
      </section>

      <section class="section" style="margin-top: 50px; height: 20vh;">
        <b>Name<span class="required">*</span></b>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
        <input type="text" name="name" placeholder="Enter Name" class="customTextField">
      </section>
      <section class="section">
        <b>Description</b>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
        <textarea placeholder="Input decription" class="description"></textarea>
      </section>

      <section class="section">
        <b>Collection</b>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
        <select id="collection" name="collection" class="dropdown">
          <option *ngFor="let collection of collection" [value]="collection">{{ collection }}</option>
        </select>
        <hr class="separator">
      </section>

      <section class="section" style="margin-bottom:5vh; height: auto !important;">
        <div>
          <b>Properties</b>
          <button class="middle-button" style="margin-left:484px; background-color:#f2f3fd!important; color:#6b73eb">
            <img src="../../assets/images/wallet.png"  alt="Image" />
            <span>Add</span>
          </button>
        </div>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
      </section>

      <section class="section" style="margin-bottom:5vh; height: auto !important;">
        <div>
          <b>Level</b>
          <button class="middle-button" style="margin-left: 517px; background-color:#f2f3fd!important; color:#6b73eb">
            <img src="../../assets/images/wallet.png"  alt="Image" />
            <span>Add</span>
          </button>
        </div>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
      </section>

      <section class="section" style="margin-bottom:5vh; height: auto !important;">
        <div>
          <b>Stats</b>
          <button class="middle-button" style="margin-left:521px; background-color:#f2f3fd!important; color:#6b73eb">
            <img src="../../assets/images/wallet.png"  alt="Image" />
            <span>Add</span>
          </button>
        </div>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
      </section>

      <section class="section">
        <div>
          <b>Unlockable content</b>
        </div>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
        <textarea placeholder="Input text" class="description"></textarea>
        <hr class="separator">
      </section>

      <section class="section" style="height: 20vh; margin-top:10px;">
        <b>Supply</b>
        <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>
        <input type="text" name="supply" placeholder="Enter supply" class="customTextField">
      </section>

      <section class="section" style="height:27vh;">
        <div>
          <b>Blockchain</b>
          <p>Some text Some text Some textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome textSome text</p>

          <div class="radio-container">
            <div class="radio-item" [class.selected]="isSelectedFirst">
              <input type="radio" name="option" value="diamond" id="option1" (click)="toggleSelection('first')">
              <label for="option1" [class.selected]="isSelectedFirst" (click)="toggleSelection('first')">
                <img src="../../assets/images/wallet.png"  alt="Image" />
                <span>Diamond</span>
              </label>
            </div>

            <div class="radio-item" [class.selected]="isSelectedSecond">
              <input type="radio" name="option" value="triangle" id="option2" (click)="toggleSelection('second')">
              <label for="option2" (click)="toggleSelection('second')">
                <span class="checkmark"></span>
                <img src="../../assets/images/wallet.png"  alt="Image" />
                <span>Triangle</span>
              </label>
            </div>
          </div>
          <hr class="separator">
        </div>
      </section>
      <section class="section" style="height:auto; margin-bottom:50px;">
        <button class="middle-button">Create</button>
      </section>
    </main>
    <app-footer>Footer content</app-footer>
</body>
