body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the container to 100% of the viewport height */
  }
  
  main {
    flex: 1; /* Set the main content area to take up all remaining space */
  }
  
  footer {
    margin-top: auto; /* Push the footer to the bottom by setting auto margin on top */
  }
  