body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set the minimum height of the container to 100% of the viewport height */
  }

  main {
    flex: 1; /* Set the main content area to take up all remaining space */
  }

  footer {
    margin-top: auto; /* Push the footer to the bottom by setting auto margin on top */
  }

  .drop-zone {
    border: 2px dashed #a1a6f3;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f2f3fd;
    border-radius: 10px;
    height: 300px;
  }
  .section {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 35%;
    margin: 0 auto;
    height: 30vh;
  }
  .section__title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
.description {
  height: 100px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 5px;
  resize: vertical;
}
.description:focus {
  outline: none;
}
.description::placeholder {
  color: #c7ccd3;
}

.separator {
  border: none;
  height: 1px;
  background-color: #e2e4e9;
  margin: 20px 0;
  margin-top: 55px;
}

.radio-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.radio-item {
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 60px;
  width: 310px;
  border: 2px solid #dfe3e8;
}

.radio-item input[type="radio"] {
  margin-right: 25px;
  margin-left: 20px;
}

.radio-item img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.radio-item.selected {
  background-color: #f2f3fd;
  border-color: #a1a6f3;
}

.radio-item label {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.middle-button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #535CE8;
  color: white;
  font-weight: bold;
  width: 80px;
  height: 45px;
}
